.header{
    margin-top: 60px;
    text-align: center;
    font-size:38px ;
}
.columns{
    margin-top: 80px;
    gap: 25px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.columns > div {
    font-size: 30px; 
}
.text{
    margin-top:30px;
    line-height:1.5;
    font-size:24px;
    margin-bottom:40px;
    text-align:center
}
.diageams{
    margin: 0 auto;
    text-align:center:
}
.diagram{
    margin-top:40px;
    width:900px;
    height:600px;
}
